<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="theme-color" content="#dddce1">
    <meta name="mobile-web-app-capable" content="yes">

    <title>Retro Sport Pub</title>
    <link rel="shortcut icon" href="images/favicon.png" />
    <link rel="manifest" href="/retro-sport-pub/manifest.json">
    <link rel="stylesheet" href="css/style.css">
    
    <script>
        var CLIENTE = 'retro-sports-bar';
    </script>
    <script src="js/script.js?2019"></script>    

    <style>
        .button-menu-mobile{
            border: 0;
            color: inherit;
            font-size: 1.25rem;
            padding: 0;
            border-radius: 0;
            background-color: transparent;
        }
        @media (max-width: 991px) {
            .hide-only-mobile{
                display:none;
            }
            .show-only-mobile{
                display:block;
            }
        }
        @media (min-width: 992px) {
            .hide-only-mobile{
                display:block;
            }
            .show-only-mobile{
                display:none;
            }
        }
    
    </style>
</head>
<body>
    <div class="container-scroller" id="conteudo" v-cloak>
        <!-- partial:partials/_navbar.html -->
        <nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
            <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
                <a class="navbar-brand brand-logo" href="index.html">
                    <img src="images/logo-retro-55.png" style="width: 199px; height: 55px;"
                        alt="logo" /></a>
                <a class="navbar-brand brand-logo-mini" href="index.html" >
                    <img src="images/logo-mini.png" style="width: 55px; height: 55px;"  class="ml-2"
                        alt="logo" /></a>
            </div>
            <div class="navbar-menu-wrapper d-flex align-items-center justify-content-between">
                <ul class="navbar-nav ">
                    <li class="nav-item nav-profile dropdown">
                        <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" id="profileDropdown" aria-expanded="false">
                            <!--img :src="getProfilePicture(acessoUsuarios[user.uid])" alt="profile"-->
                        </a>
                        <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="profileDropdown">
                            <a class="dropdown-item">
                                <i class="ti-power-off text-primary"></i>
                                Logout
                            </a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
        <!-- partial -->
        <div class="container-fluid page-body-wrapper">
            <!-- partial -->
            <div class="main-panel" style="width: 100%">
                <div class="content-wrapper">
                    <div v-if="message.show" :class="message.class" class="alert alert-dismissible" role="alert">
                        {{ message.text }}
                        <button type="button" class="close" @click="message.show=false" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>


                    

                    <div v-if="page.selected == 'novoPedido' || page.selected == 'editarPedido'" class="row justify-content-center">
                        <div class="col-md-8 grid-margin stretch-card">
                            <div class="card">
                                <div class="card-body pb-2" >
                                    <h4 v-if="page.selected == 'novoPedido'" class="card-title">Novo Pedido</h4>
                                    <h4 v-if="page.selected == 'editarPedido'" class="card-title">Editar Pedido</h4>

                                    <form>
                                        <div v-if="novoPedido.error != ''" class="form-row">
                                            <div class="form-group col-md-12">
                                                <div class="alert alert-danger" role="alert">
                                                    {{ novoPedido.error }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-row" v-if="sim(config.comanda)">
                                                <div class="col-md-12 form-group">
                                                    <input ref="comanda" v-model="novoPedido.comanda" placeholder="Comanda" type="text"
                                                        @blur="loadComanda" class="form-control text-center">
                                                </div>
                                            </div>
                                        <div class="form-row">
                                            <div class="col-md-6 form-group">
                                                <input ref="mesa" v-model="novoPedido.mesa" placeholder="Mesa" type="text"
                                                    class="form-control text-center">
                                            </div>
                                            <div class="col-md-6 form-group">
                                                <input v-model="novoPedido.id" placeholder="Identificação" type="text"
                                                    class="form-control text-center">
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="col-md-10  form-group">
                                                <div class="input-group">
                                                    <select v-model="itemPedido.prod" class="form-control"
                                                        style="color:black">
                                                        <optgroup :label="key" v-for="(categoria, key) in produtos">
                                                            <option v-for="(prod, kprod) in categoria"
                                                                v-if="prod.disponivel == 'S'" v-bind:value="prod">
                                                                {{ prod.valor | moeda }} - {{ prod.desc }}</option>
                                                        </optgroup>
                                                    </select>
                                                    <select v-model="itemPedido.qtd" class="form-control"
                                                        style="max-width: 20%; color:black">
                                                        <option>1</option>
                                                        <option>2</option>
                                                        <option>3</option>
                                                        <option>4</option>
                                                        <option>5</option>
                                                        <option>6</option>
                                                        <option>7</option>
                                                        <option>8</option>
                                                        <option>9</option>
                                                        <option>10</option>
                                                    </select>

                                                </div>

                                            </div>
                                            <div class="col-md-2 form-group">
                                                <button @click="addItemPedido" type="button"
                                                    class="btn btn-primary btn-block">
                                                    <span class="ti-plus"></span>
                                                </button>
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="form-group col-md-12">
                                                <table class="table table-striped">
                                                    <thead>
                                                        <tr>
                                                            <th scope="col">Item</th>
                                                            <th scope="col" class="text-right">Valor</th>
                                                            <th scope="col" style="width: 20px"></th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr v-for="(item, k) in novoPedido.items">
                                                            <td>{{ item.qtd }} {{ item.desc }}</td>
                                                            <td class="text-right">{{ item.valor * item.qtd | moeda }}
                                                            </td>
                                                            <td class="text-center py-1" style="width: 20px">
                                                                <button @click="removeItemPedido(k)" type="button"
                                                                    class="btn btn-sm btn-danger">
                                                                    <i class="ti-close"></i>
                                                                </button>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <th class="text-right">TOTAL</th>
                                                            <th class="text-right">
                                                                {{ totalPedido(novoPedido.items) | moeda }}</th>
                                                            <th class="text-right"></th>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <a href="#" @click="addPedido" class="btn btn-primary mr-2 mb-2">
                                               {{ page.selected == 'novoPedido' ? 'Efetuar Pedido' : 'Alterar Pedido' }}
                                            </a>
                                            <a href="#" @click="page.selected = 'atendimento'"
                                                class="btn btn-light mb-2">Cancelar</a>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div v-if="page.selected == 'atendimento'" class="row">
                        <div class="col-md-4 grid-margin stretch-card" v-for="(pedido, key) in pedidosAtendimento">
                            <div class="card" :id="key">
                                <div class="card-body d-flex flex-column">
                                    <div class="d-flex flex-wrap justify-content-between justify-content-xl-between align-items-center">
                                        <p class="card-title text-xl-left">
                                             {{ pedido.fromNow }} - {{ pedido.dhPedido | formatTime }}
                                        </p>
                                        <p class="card-title text-xl-left">
                                            {{ pedido.comanda }}
                                        </p>
                                    </div>
                                    <div class="d-flex flex-wrap justify-content-between justify-content-xl-between align-items-center">
                                        <h3 class="mb-0 mb-md-2 mb-xl-0 order-xl-0">{{ pedido.id }}</h3>
                                        <h3 class="text-muted mb-0 mb-md-3 mb-xl-0">{{ pedido.mesa }}</h3>
                                    </div>
                                    <div class="d-flex flex-column justify-content-start flex-grow-1">
                                        <div v-for="(item, k) in pedido.items" class="d-flex flex-wrap justify-content-between justify-content-xl-between align-items-center">
                                            <p class="mb-0 mt-2">
                                                {{ item.qtd }} {{ item.desc }}</p>
                                            <p class="mb-0 mt-2 text-danger">
                                                {{ item.valor * item.qtd | moeda }}</p>
                                        </div>
                                        <div class="border-top font-weight-bold mt-auto d-flex flex-wrap justify-content-between justify-content-xl-between align-items-center">
                                            <p class="mb-0 mt-2">
                                                TOTAL</p>
                                            <p class="mb-0 mt-2 text-danger">
                                                {{ totalPedido(pedido.items) | moeda }}</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="card border-right-0 border-left-0 border-bottom-0 text-align: right;">
                                    <div class="d-flex justify-content-end">
                                        <p class="text-muted text-xl-left m-auto">
                                            {{getUserName(pedido.uidAtendimento)}}
                                        </p>
                                        <button @click="editPedido(key)"
                                            type="button"
                                            class="btn btn-inverse-primary btn-icon rounded-0 border-0 ">
                                            <i class="ti-pencil-alt"></i>
                                        </button>
                                        <button @click="cancelPedido(pedidosAtendimento,'atendendo', key)"
                                            type="button"
                                            class="btn btn-inverse-danger btn-icon rounded-0 border-0">
                                            <i class="ti-trash"></i>
                                        </button>
                                        <button @click="donePedido(key)" type="button"
                                            class="btn btn-inverse-success btn-icon rounded-0 border-0">
                                            <i class="ti-check"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div v-if="page.selected == 'disponiveis'" class="row">
                        <div class="col-md-4 grid-margin stretch-card" v-for="(pedido, key) in pedidosDisponiveis">
                            <div class="card" style="background-color: rgb(221, 255, 183);" :id="key">
                                <div class="card-body d-flex flex-column">
                                    <div class="d-flex flex-wrap justify-content-between justify-content-xl-between align-items-center">
                                        <p class="card-title text-xl-left">
                                            {{ pedido.fromNow }} - {{ pedido.dhPedido | formatTime }}
                                        </p>
                                        <p class="card-title text-xl-left">
                                            {{ pedido.comanda }}
                                        </p>
                                    </div>
                                    <div class="d-flex flex-wrap justify-content-between justify-content-xl-between align-items-center">
                                        <h3 class="mb-0 mb-md-2 mb-xl-0 order-xl-0">{{ pedido.id }}</h3>
                                        <h3 class="text-muted mb-0 mb-md-3 mb-xl-0">{{ pedido.mesa }}</h3>
                                    </div>
                                    <div class="d-flex flex-column justify-content-start flex-grow-1">
                                        <div v-for="(item, k) in pedido.items" class="d-flex flex-wrap justify-content-between justify-content-xl-between align-items-center">
                                            <p class="mb-0 mt-2">
                                                {{ item.qtd }} {{ item.desc }}</p>
                                            <p class="mb-0 mt-2 text-danger">
                                                {{ item.valor * item.qtd | moeda }}</p>
                                        </div>
                                        <div class="border-top font-weight-bold mt-auto d-flex flex-wrap justify-content-between justify-content-xl-between align-items-center">
                                            <p class="mb-0 mt-2">
                                                TOTAL</p>
                                            <p class="mb-0 mt-2 text-danger">
                                                {{ totalPedido(pedido.items) | moeda }}</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="card border-right-0 border-left-0 border-bottom-0 text-align: right;">
                                    <div class="d-flex justify-content-end">
                                        <p class="text-muted text-xl-left m-auto">
                                            {{getUserName(pedido.uidDisponivel)}}
                                        </p>
                                        <button @click="notDonePedido(key)" type="button"
                                            class="btn btn-inverse-warning btn-icon rounded-0 border-0 ">
                                            <i class="ti-back-left"></i>
                                        </button>
                                        <button @click="cancelPedido(pedidosDisponiveis,'disponiveis', key)"
                                            type="button"
                                            class="btn btn-inverse-danger btn-icon rounded-0 border-0 ">
                                            <i class="ti-trash"></i>
                                        </button>
                                        <button @click="finishedPedido(key)" type="button"
                                            class="btn btn-inverse-success btn-icon rounded-0 border-0 ">
                                            <i class="ti-check"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>                    
                    <div v-if="page.selected == 'comanda'" class="row">
                        <div class="col-lg-12 grid-margin stretch-card">
                            <div class="card">
                                <div class="card-body">
                                    <div class="form-row">
                                        <div class="col-md-12 form-group">
                                            <label>Identificação</label>
                                            <input v-model="comandasAbertas[editComandaKey].id" type="text"
                                                disabled="disabled" class="form-control">                                                
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="col-md-4 form-group">
                                            <label>Data/Hora Abertura</label>
                                            <textarea class="form-control" disabled="disabled"
                                                style="height: 46px; line-height: inherit; overflow:hidden; resize:none"
                                                >{{ comandasAbertas[editComandaKey].dhAberto | formatDate }}</textarea>             
                                        </div>
                                        <div class="col-md-4 form-group">
                                            <label>Comanda</label>
                                            <input v-model="editComandaKey" type="text"
                                                disabled="disabled" class="form-control">
                                        </div>
                                        <div class="col-md-4 form-group">
                                            <label>Mesa</label>
                                            <input v-model="comandasAbertas[editComandaKey].mesa" type="text"
                                                disabled="disabled" class="form-control">
                                        </div>                                
                                    </div>
                                    <div class="form-row">
                                        <div class="col-md-12 d-flex justify-content-end flex-row">
                                            <a href="#" @click="page.selected = 'fecharComanda'"
                                                class="btn btn-light mr-2">Cancelar</a>                                                
                                            <a href="#" @click="encerrarComanda(editComandaKey)"
                                                class="btn btn-primary ">Encerrar Comanda</a>
                                        </div>
                                    </div>    
                                    <div class="table-responsive">
                                        <table class="table">
                                            <thead>
                                                <tr>                                                    
                                                    <th >Ações</th>
                                                    <th >Status</th>
                                                    <th>Qtd</th>
                                                    <th>Descrição</th>
                                                    <th class="text-right">Valor</th>                                                    
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <template v-for="(valor, key) in comandasAbertas[editComandaKey].pedidos">
                                                    <template v-if="pedidosAtendimento[key]">
                                                        <tr v-for="(item, keyItem, index) in pedidosAtendimento[key].items"
                                                            class="table-danger" >
                                                            <td v-if="index == 0" :rowspan="Object.keys(pedidosAtendimento[key].items).length" style="padding:10px 15px">
                                                                <div class="d-flex align-items-stretch">
                                                                    <button @click="editPedido(key)"
                                                                        type="button"
                                                                        class="btn btn-inverse-primary btn-icon rounded-0 border-0 d-md-block">
                                                                        <i class="ti-pencil-alt"></i>
                                                                    </button>                                                              
                                                                    <button @click="cancelPedido(pedidosAtendimento,'atendendo', key)"
                                                                        type="button"
                                                                        class="btn btn-inverse-danger btn-icon rounded-0 border-0 d-md-block">
                                                                        <i class="ti-trash"></i>
                                                                    </button>
                                                                    <button @click="donePedido(key)" type="button"
                                                                        class="btn btn-inverse-success btn-icon rounded-0 border-0 d-md-block">
                                                                        <i class="ti-check"></i>
                                                                    </button>
                                                                </div>
                                                            </td>
                                                            <td v-if="index == 0" :rowspan="Object.keys(pedidosAtendimento[key].items).length">
                                                                <label class="badge badge-danger">
                                                                    Atendimento</label></td>
                                                            <td>{{ item.qtd }}</td>
                                                            <td>{{ item.desc }}</td>
                                                            <td class="text-right">
                                                                    {{ (item.valor * item.qtd) | moeda }}</td>
                                                            
                                                        </tr>
                                                    </template>
                                                    <template v-if="pedidosDisponiveis[key]">
                                                        <tr v-for="(item, keyItem, index) in pedidosDisponiveis[key].items"
                                                            class="table-warning" >
                                                            <td v-if="index == 0" :rowspan="Object.keys(pedidosDisponiveis[key].items).length"  style="padding:10px 15px;">
                                                                <div class="d-flex align-items-stretch">
                                                                    <button @click="notDonePedido(key)" type="button"
                                                                        class="btn btn-inverse-warning btn-icon rounded-0 border-0 d-md-block">
                                                                        <i class="ti-back-left"></i>
                                                                    </button>
                                                                    <button @click="cancelPedido(pedidosDisponiveis,'disponiveis', key)"
                                                                        type="button"
                                                                        class="btn btn-inverse-danger btn-icon rounded-0 border-0 d-md-block">
                                                                        <i class="ti-trash"></i>
                                                                    </button>
                                                                    <button @click="finishedPedido(key)" type="button"
                                                                        class="btn btn-inverse-success btn-icon rounded-0 border-0 d-md-block">
                                                                        <i class="ti-check"></i>
                                                                    </button>
                                                                </div>                                                                
                                                            </td>                                                             
                                                            
                                                            <td v-if="index == 0" :rowspan="Object.keys(pedidosDisponiveis[key].items).length">
                                                                <label class="badge badge-warning">
                                                                    Disponível</label></td>
                                                            <td>{{ item.qtd }}</td>
                                                            <td>{{ item.desc }}</td>
                                                            <td class="text-right">
                                                                    {{ (item.valor * item.qtd) | moeda }}</td>
                                                            
                                                        </tr>
                                                    </template>
                                                    <template v-if="pedidosFinalizados[key]">
                                                        <tr v-for="(item, keyItem, index) in pedidosFinalizados[key].items"
                                                            class="table-info" >
                                                            
                                                            <td class="d-flex justify-content-end" style="padding:10px 15px"></td>
                                                            
                                                            <td v-if="index == 0" :rowspan="Object.keys(pedidosFinalizados[key].items).length">
                                                                <label class="badge badge-info">
                                                                    Finalizado</label></td>
                                                            <td>{{ item.qtd }}</td>
                                                            <td>{{ item.desc }}</td>
                                                            <td class="text-right">
                                                                    {{ (item.valor * item.qtd) | moeda }}</td>
                                                            
                                                        </tr>
                                                    </template>
                                                </template>
                                            </tbody>
                                            <tfoot>
                                                <tr>
                                                    <th colspan="4" class="text-right">Total</th>
                                                    <th class="text-right">
                                                        {{ totalComanda(comandasAbertas[editComandaKey].pedidos) | moeda }}
                                                    </th>
                                                </tr>
                                            </tfoot>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <template>
                        <div id="accordion">
                            <div class="card" v-for="(categoria, key) in produtos">
                                <div class="card-header" data-toggle="collapse" :href="'#' + key" style="cursor: pointer">
                                    <a class="card-link" data-toggle="collapse" :href="'#' + key">
                                        {{key}}
                                    </a>
                                </div>
                                <div :id="key" class="collapse" data-parent="#accordion">
                                    <div class="card-body">
                                        <p v-if="prod.disponivel == 'S'" v-for="(prod, kprod) in categoria">
                                        {{ prod.valor | moeda }} - {{ prod.desc }}
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
        

                        <div class="fixed-bottom headline">
                            <div class="col-md-8 grid-margin stretch-card mb-1 pl-1 pr-1">
                                <div class="card">
                                    <div class="card-body p-0" >
                                        <div class="form-row p-0 m-0">
                                            <div class="form-group col-md-12 p-0 m-0">
                                                <table class="table table-striped">
                                                    <thead>
                                                        <tr>
                                                            <th scope="col">Item</th>
                                                            <th scope="col" class="text-right">Valor</th>
                                                            <th scope="col" style="width: 20px"></th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr v-for="(item, k) in novoPedido.items">
                                                            <td>{{ item.qtd }} {{ item.desc }}</td>
                                                            <td class="text-right">{{ item.valor * item.qtd | moeda }}
                                                            </td>
                                                            <td class="text-center py-1" style="width: 20px">
                                                                <button @click="removeItemPedido(k)" type="button"
                                                                    class="btn btn-sm btn-danger">
                                                                    <i class="ti-close"></i>
                                                                </button>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <th class="text-right">TOTAL</th>
                                                            <th class="text-right">
                                                                {{ totalPedido(novoPedido.items) | moeda }}</th>
                                                            <th class="text-right"></th>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </template>
                </div>
                <!-- content-wrapper ends -->
                <!-- partial:partials/_footer.html -->
                <footer class="footer">
                    <div class="d-sm-flex justify-content-center justify-content-sm-between">
                        <span
                            class="float-none float-sm-right text-muted text-center text-sm-left d-block d-sm-inline-block"></span>
                        <span class="float-none float-sm-right text-muted d-block mt-1 mt-sm-0 text-center">Copyright ©
                            2019 <a href="https://www.afoxsoftware.com.br/" target="_blank">AFox Software</a>. Todos
                            direitos reservados.</span>
                    </div>
                </footer>
                <!-- partial -->
            </div>
            <!-- main-panel ends -->
        </div>
        <!-- page-body-wrapper ends -->
    </div>
    </div>
    
    <script src="pedido-cliente.js"></script>
    
</body>

</html>